 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

:root {
--light-blue : #F1F5F8;
--white: #FFFFFF;
--box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
--light-pink: #FEC5E5;
--medium-pink: #F2B8C6;
--green: rgb(209, 252, 173);

}

body {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-top: 20px;
  }
/******    main container  ******/
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 90vw;
  margin: 120px 0px;
  padding: 35px 0px;
}
/******    top form     ******/
input {
    background-color: var(--light-blue);
    border: transparent;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
    width: 35vw;
    height: 5vh;
    margin-top: 12px;
    margin-bottom: 30px;
}

.form button {
    border: none;
    padding: 0.50rem;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
}
.submit-btn {
    width: auto;
    height: 5vh;
    background-color: lightgrey;
}

.alert-purple {
    color: #ba88ff;
    background: #e6e1f9;
  }

.alert-green {
    color: #155724;
    background: #d1ecc1;
 }
/******    to do tasks   ******/
.list-style {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 1em;
    letter-spacing: 2px;
}
.to-do-container {
    visibility: hidden;
}

.display-container {
    visibility: visible;
}

.clear-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 4px;
    color: var(--red);
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
color:var(--light-pink);
}
.delete-btn {
    color: var(--light-pink);
}
.clear-btn {
    color: var(--medium-pink);
    font-size: 0.9rem;
}

@media (max-width: 500px) {
    .list-style {
        width: 80vw;
        letter-spacing: 0;
    }
    .main-section {
        width: 90vw;
    }
    input {
        width: 60vw;
        height: 4vh;
    }
    .submit-btn {
        height: 4vh;
    }
}


